<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button onClick="getit()">aaaaa</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // const url = 'vue-serve-test.herokuapp.com'
        const url = 'localhost:3000'
        const socket = io(`//${url}/`)

        function getit() {
            socket.emit('rockAndRoll', 'rock and aaaaaaa')
        }
        socket.on('connection', (socky) => {
        })
        socket.on('hello', (data) => {
        })
        socket.on('Dello', (data) => {
        })
    </script>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis placeat perspiciatis fugit facere optio quo
        nulla libero saepe sed similique. At distinctio hic, beatae vitae nam esse laboriosam numquam quidem!</p>
</body>

</html>