<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <form action="/users/register" method="POST">
    <label for="userName">username</label>
    <input type="text" name="userName">
    <label for="password">password</label>
    <input type="password" name="password">
    <label for="email">email</label>
    <input type="email" name="email">
    <label for="userAge">userAge</label>
    <input type="number" name="userAge">
    <button>SAVE</button>
  </form>
</body>

</html>