<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Secret Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, amet obcaecati. Et ut tempore illum perspiciatis molestias dolorum ipsam debitis atque sed ad obcaecati illo, dignissimos quidem laborum reiciendis dolores!</p>
    <form action="/users/logout" method="POST">
        <button>logout</button></form>
</body>

</html>